<footer class="footer">

    {# {% for foot in pages["_meta"].meta.footer %}
        <div class="info-{{foot.class}}">
            <h2> {{foot.head}}</h2>
            <p> {{foot.content}}</p>
            <p> {{foot.cont}}</p>
        </div>
    {% endfor %} #}


    <div class="social">
        <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
        {# <h2>Vi finns på sociala medier</h2>
        {% for social in pages["_meta"].meta.social %}
            <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                <i class="{{ social.icon }}" aria-hidden="true"></i>
                <span class="sr-only">{{ social.title }}</span>
            </a>
        {% endfor %} #}
    </div>

</footer>

</body>
</html>