{% include 'header.twig' %}


<div class="container">
    <div class="left">
        <h1> {{ title }} </h1>

        <p> {{ message }} </p>

        <h3>21</h3>
        <table>
            <tr>
                <th>Spelare </th>
                <th>Strikes i rad </th>
            </tr>

            {% for strike in twentyone %}
                <tr>
                    <td> {{ strike.player }} </td>
                    <td> {{strike.score}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="right">
        <h3>Yatzy</h3>
        <table>
        <tr>
                <th>Spelare </th>
                <th>Summa </th>
        </tr>

        {% for value in yatzy %}
            <tr>
                <td> {{ value.player }} </td>
                <td> {{value.score}} </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% include 'footer.twig' %}